// Typography
// $font-family-sans-serif: "Comfortaa", cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$white: #fff;
$black: #000000;
//new
$cherub: #f6d0d6;
$softpeach: #e9e4e3;
$razzmatazz: #cb0054;