@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;1,1;1,100;1,200;1,300;1,400&display=swap');
@font-face {
	font-family: 'Belista';
	src: url('/frontend/style/font/Belista/Belista.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Alfah';
	src: url('/frontend/style/font/Afrah/TTF/Afrah-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Boheme';
	src: url('/frontend/style/font/Boheme\ Floral.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Caviar';
	src: url('/frontend/style/font/caviar/CaviarDreams.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}